*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: relative;
    margin: 27px auto 0;
    width: 100%;
    height: 70px;
    background: rgb(3, 135, 147);
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

nav a {
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    transition: border-bottom 0.3s ease;
    border: 2px solid transparent;
    padding: 0 15px;
    white-space: nowrap;
}

nav .animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: white;
    width: 100px;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:hover{
    border-bottom: 2px solid white;
}
